@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dashed {
  background-image: linear-gradient(
    45deg,
    hsl(var(--border)) 12.5%,
    transparent 12.5%,
    transparent 50%,
    hsl(var(--border)) 50%,
    hsl(var(--border)) 62.5%,
    transparent 62.5%,
    transparent 100%
  );
  background-size: 0.25rem 0.25rem;
}

pre[class*="language-"] {
  background-color: #1c1c1c !important;
}
